<script>
function openNav() {
    document.getElementById("sidenav").style.width = "200px";
}

function closeNav() {
    document.getElementById("sidenav").style.width = "0";
}

function openModal() {
    document.getElementById("about-modal").style.display = "block";
}

function closeModal() {
    document.getElementById("about-modal").style.display = "none";
}

window.onclick = function(event) {
  if (event.target == modal) {
      modal.style.display = "none";
  }
}
</script>

<div onclick="openNav()" id="navicon-all">
  <div class="navicon"></div>
  <div class="navicon"></div>
  <div class="navicon"></div>
</div>

<div id="sidenav">
  <a href="javascript:void(0)" onclick="closeNav()">X</a>

  <a href="/sessions/login">Log in</a>
  <a href="/users/register">Sign up</a>
  <a href="/doodles/">New Doodle</a>
  <button onclick="openModal()" id="about">About</button>
</div>

<div id="about-modal" class="modal">

  <div class="modal-content">
    <div onclick="closeModal()" id="close">X</div>
    <p>Social doodling. Doodle things! Show them to your friends!</p>
    <p>To save and share doodles, and see other users' doodles, please sign up. More features coming in the future!</p>
    <p>GoDoodleGo was made with coffee, cats, late nights, and &#9829; by <a href="http://jaqdunham.com" target="_blank">Jaq Dunham</a>.</p>
  </div>

</div>
