body {
  font-family: 'PT Sans', sans-serif;
  font-size: 25px;
  color: #330f1e;
  background-color: #d282fc;
}

header {
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
  color: #5920bc;
  margin: 0 auto;
  padding: 10px;
}

h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
  color: #5920bc;
  margin: 0 auto;
  padding: 10px;
}

form {
  width: 250px;
  padding-top: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

input {
  text-align: center;
  margin: 5px 0;
  border: 2px solid #02a9ea;
  border-radius: 4px;
  padding: 3px 0;
  background-color: #02a9ea;
  color: #330f1e;
}

button {
  margin: 5px auto;
  width: 115px;
  padding: 3px 0;
  border-radius: 3px;
  background-color: #5920bc;
  color: #fffcff;
  border: 0;
}

.navicon {
  width: 35px;
  height: 5px;
  background-color: #330f1e;
  margin: 6px 0;
}

#navicon-all {
	position: fixed;
	top: 10px;
	right: 15px;
	cursor: pointer;
}

#sidenav {
  height: 400px;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #02a9ea;
  overflow-x: hidden;
  padding-top: 30px;
  border-radius: 3px;
  transition: 0.5s;
}

#sidenav a {
  padding: 10px 30px 10px 17px;
  text-decoration: none;
  font-size: 25px;
  color: #330f1e;
  display: block;
  transition: 0.3s;
}

#sidenav a:hover {
  color: #583a46;
}

#about {
  font-family: 'PT Sans', sans-serif;
  background-color: #02a9ea;
  width: 100px;
  font-size: 25px;
  border: none;
  color: #330f1e;
  display: block;
  cursor: pointer;
  margin-left: 5px;
}
