<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|PT+Sans" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/js/paper-full.js" async></script>
    <script src="/js/jquery.min.js"></script>

    <title>Your doodles!</title>

  </head>

  <body>

    <h1>Your doodles!</h1>

      <% if (currentUser) { %>
      <p id="welcome">Hey there, <%=currentUser.username%>!</p>
      <script>
      var id = "<%=currentUser._id%>";
      console.log(id);
      </script>
      <% } %>

      <% include ../partials/sidenav %>

    <% for (let doodle of allDoodles) { %>
      <% if (doodle.user == currentUser._id) { %>
        <div class="doodle-options">
        <div class="all-doodles">
          <%- doodle.doodle %>
        </div>
        <form action="/doodles/<%= doodle._id %>?_method=DELETE" method="POST">
          <button type="submit" id="delete">Delete</button>
        </form>
    <% } %>
    <% } %>

  </body>
</html>
