<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|PT+Sans" rel="stylesheet">
    <script type="text/javascript" src="/js/paper-full.js" async></script>
    <script src="/js/jquery.min.js"></script>
    <script type="text/paperscript" src="/js/paperScript.js" canvas="newCanvas" async></script>
    <link href="/css/style.css" rel="stylesheet" type="text/css">

    <title>GoDoodleGo!</title>

  </head>

  <body class="content">

    <h1>GoDoodleGo!</h1>

    <% if (currentUser) { %>
    <p id="welcome">Hey there, <%=currentUser.username%>!</p>
    <script>
    var id = "<%=currentUser._id%>";
    console.log(id);
    </script>
    <% } %>

    <% include ../partials/sidenav %>

    <div id="color-picker">
      <div class="color" id="red"></div>
      <div class="color" id="orange"></div>
      <div class="color" id="yellow"></div>
      <div class="color" id="green"></div>
      <div class="color" id="blue"></div>
      <div class="color" id="purple"></div>
      <div class="color" id="pink"></div>
      <div class="color" id="black"></div>
      <div class="color" id="white"></div>
    </div>

    <div id="stroke-width">
      <div class="stroke-item">Brush size:</div>
      <div class="stroke-item" id="incr-size">+</div>
      <div class="stroke-item" id="decr-size">-</div>
      <div class="stroke-item" id="reset-size">reset</div>
    </div>

    <canvas id="newCanvas"></canvas>

    <div id="buttons">
      <% if (currentUser) { %>
        <form>
          Share doodle?
          Yes<input type="radio" name="share" value="true">
          No<input type="radio" name="share" value="false" checked>
        </form>
        <button id="save-button">Save</button>
        <button id="undo-button">Undo</button>
        <button id="clear-button">Clear</button><br>
      <% } else { %>
        <p>Please log in or sign up to save a doodle!</p>
      <% } %>
    </div>

  </body>
</html>
